<template>
  <div class="m-3 border-2 border-black">
    <form @submit="searchUser" class="m-3">
      <input class="border" type="text" v-model="message" />
      <button class="ml-3" type="submit">Search</button>
    </form>
    <div v-for="(username, index) in data" :key="index">
      <span class="to-purple">{{ username }}</span>
      <button class="m-5">Submit</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  methods: {
    searchUser(e) {
      e.preventDefault();
      axios
        .get(`${process.env.BACKEND_URL}/user/searchUser/${this.message}`)
        .then((res) => {
          console.log(res.data.data);
          this.data = res.data.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  data() {
    return {
      message: "",
      data: "",
    };
  },
};
</script>

<style></style>
