<template>
  <div>
    <main>
      <section class="absolute w-full h-full">
        <Background />
        <div class="container mx-auto px-4 h-full">
          <div class="flex content-center items-center justify-center h-full">
            <div class="w-full lg:w-4/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
              >
                <div
                  class="flex-auto px-4 lg:px-10 py-10 pt-0 border border-black border-1 rounded-xl"
                >
                  <p class="pt-10 text-red2 text-sm" v-show="errorLogin">
                    {{ errorLogin }}
                  </p>
                  <Form
                    class="pt-12"
                    @submit="login"
                    :validation-schema="schema"
                  >
                    <div class="relative w-full mb-3">
                      <TextInput
                        name="yupUsername"
                        type="text"
                        label="Username"
                        placeholder="Your username"
                        :value="inputUsername"
                      />
                    </div>
                    <div class="pt-3">
                      <TextInput
                        name="yupPassword"
                        type="password"
                        label="Password"
                        placeholder="Your Password"
                      />
                    </div>
                    <div class="pt-3">
                      <input
                        id="customCheckLogin"
                        type="checkbox"
                        class="form-checkbox border-0 rounded text-gray-800 ml-1 w-5 h-5"
                        style="transition: all 0.15s ease 0s"
                        v-model="remember"
                      />
                      <span
                        class="ml-2 relative bottom-1 text-sm font-semibold text-gray-700"
                      >
                        Remember me
                      </span>
                    </div>
                    <div class="text-center mt-6">
                      <button
                        class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                        type="submit"
                        style="transition: all 0.15s ease 0s"
                      >
                        Sign In
                      </button>
                    </div>
                  </Form>
                </div>
              </div>
              <div class="flex flex-wrap mt-8">
                <div class="w-1/2">
                  <router-link to="/reset-password"
                    ><small>Forgot password?</small></router-link
                  >
                </div>
                <div class="w-1/2 text-right">
                  <router-link to="/register"
                    ><small>Create new account</small></router-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>
<script>
import Background from "@/components/Background.vue";
import TextInput from "@/components/TextInput.vue";
import { Form, useForm, Field, ErrorMessage } from "vee-validate";
import * as Yup from "yup";
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "LoginPage",
  components: {
    Background,
    TextInput,
    Form,
    useForm,
  },
  computed: {
    ...mapGetters(["statusLogin", "username", "rememberAccount"]),
    schema() {
      return Yup.object({
        yupUsername: Yup.string()
          .min(4)
          .required()
          .label("Username")
          .matches(/^[^!@#$%^&*+=<>:;|~]*$/, {
            message: "No symbols",
          }),
        yupPassword: Yup.string()
          .min(4)
          .required()
          .label("Password")
          .matches(/^[^!@#$%^&*+=<>:;|~]*$/, {
            message: "No symbols",
          }),
      });
    },
  },
  created() {
    if (this.rememberAccount) {
      this.remember = true;
      this.inputUsername = this.username;
    }
  },
  mounted() {
    if (this.statusLogin == "lmao") {
      console.log("lmao");
    }
  },
  methods: {
    getUsername(username) {
      this.username = username;
      console.log(username);
    },
    async login(data) {
      this.$store.dispatch("configRememberAccount", this.remember);
      const getLogin = await this.$store.dispatch("login", {
        username: data.yupUsername,
        password: data.yupPassword,
      });
      if (getLogin.status === "ok") {
        axios.defaults.headers.common = {
          Authorization: `Bearer ${this.accessToken}`,
        };
        console.log("Login success");
        //this.$router.push("/chartpredict");
      } else {
        this.errorLogin = getLogin.message;
        console.log("Login error");
        //this.$alert(`Login error, ${this.message}`, "Error", "error");
      }
    },
  },
  data() {
    return {
      remember: false,
      inputUsername: "",
      errorLogin: "",
    };
  },
};
</script>
