<template>
  <div>
    <main>
      <section class="absolute w-full h-full">
        <Background />
        <div class="container mx-auto px-4 h-full">
          <div class="flex content-center items-center justify-center h-full">
            <div class="w-full lg:w-4/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
              >
                <div
                  class="flex-auto px-4 lg:px-10 py-10 pt-0 border border-black border-1 rounded-xl"
                >
                  <p class="pt-10 text-red2 text-sm" v-show="errorRegister">
                    {{ errorRegister }}
                  </p>
                  <Form
                    class="pt-12"
                    @submit="register"
                    :validation-schema="schema"
                  >
                    <div class="relative w-full mb-3">
                      <TextInput
                        name="yupName"
                        type="text"
                        label="Name"
                        placeholder="Your name"
                        :value="inputName"
                      />
                    </div>
                    <div class="relative w-full mb-3">
                      <TextInput
                        name="yupUsername"
                        type="text"
                        label="Username"
                        placeholder="Your username"
                        :value="inputUsername"
                      />
                    </div>
                    <div class="relative w-full mb-3">
                      <TextInput
                        name="yupEmail"
                        type="email"
                        label="Email"
                        placeholder="Your email"
                        :value="inputEmail"
                      />
                    </div>
                    <div class="relative w-full mb-3">
                      <TextInput
                        name="yupPassword"
                        type="password"
                        label="Password"
                        placeholder="Your password"
                        :value="inputPassword"
                      />
                    </div>
                    <div class="text-center mt-6">
                      <button
                        class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                        type="submit"
                        style="transition: all 0.15s ease 0s"
                      >
                        Sign Up
                      </button>
                    </div>
                  </Form>
                </div>
              </div>
              <div class="flex flex-wrap mt-8">
                <div class="w-1/2">
                  <router-link to="/reset-password"
                    ><small>Forgot password?</small></router-link
                  >
                </div>
                <div class="w-1/2 text-right">
                  <router-link to="/login"
                    ><small>Have an account?</small></router-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>
<script>
import Background from "@/components/Background.vue";
import TextInput from "@/components/TextInput.vue";
import { Form, useForm } from "vee-validate";
import * as Yup from "yup";
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "LoginPage",
  components: {
    Background,
    TextInput,
    Form,
    useForm,
  },
  computed: {
    ...mapGetters(["statusLogin", "message"]),
    schema() {
      return Yup.object({
        yupName: Yup.string()
          .min(2)
          .required()
          .label("Name")
          .matches(/^[^!@#$%^&*+=<>:;|~]*$/, {
            message: "No symbols",
          }),
        yupEmail: Yup.string().email().required().label("Email"),
        yupUsername: Yup.string()
          .min(4)
          .required()
          .label("Username")
          .matches(/^[^!@#$%^&*+=<>:;|~]*$/, {
            message: "No symbols",
          }),
        yupPassword: Yup.string()
          .min(4)
          .required()
          .label("Password")
          .matches(/^[^!@#$%^&*+=<>:;|~]*$/, {
            message: "No symbols",
          }),
      });
    },
  },
  mounted() {
    if (this.statusLogin == "lmao") {
      console.log("lmao");
    }
  },
  methods: {
    async register(data) {
      const getRegister = await this.$store.dispatch("register", {
        name: data.yupName,
        email: data.yupEmail,
        username: data.yupUsername,
        password: data.yupPassword,
      });
      if (getRegister.status === "ok") {
        axios.defaults.headers.common = {
          Authorization: `Bearer ${this.accessToken}`,
        };
        console.log("Register success");
        //this.$router.push("/chartpredict");
      } else {
        this.errorRegister = getRegister.message;
        console.log("Register error");
        //this.$alert(`Login error, ${this.message}`, "Error", "error");
      }
    },
  },
  data() {
    return {
      errorRegister: "",
    };
  },
};
</script>
