<template>
  <div>
    <main>
      <section class="absolute w-full h-full">
        <Background />
        <div class="container mx-auto px-4 h-full">
          <div class="flex content-center items-center justify-center h-full">
            <div class="w-full lg:w-4/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
              >
                <div
                  class="flex-auto px-4 lg:px-10 py-10 pt-0 border border-black border-1 rounded-xl"
                >
                  <form class="pt-12" v-if="visble">
                    <div class="relative w-full mb-3">
                      <label
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        for="grid-password"
                        >USERNAME</label
                      ><input
                        type="text"
                        class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                        placeholder="Username"
                        style="transition: all 0.15s ease 0s"
                        v-model="username"
                      />
                    </div>
                    <div class="relative w-full mb-3">
                      <label
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        for="grid-password"
                        >EMAIL</label
                      ><input
                        type="email"
                        class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                        placeholder="Email"
                        style="transition: all 0.15s ease 0s"
                        v-model="email"
                      />
                    </div>
                    <div class="text-center mt-6">
                      <button
                        class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                        type="button"
                        style="transition: all 0.15s ease 0s"
                        @click="search"
                      >
                        Search
                      </button>
                    </div>
                  </form>

                  <VerifyCode ref="popupRef" />
                </div>
              </div>
              <div class="flex flex-wrap mt-8">
                <div class="w-1/2">
                  <router-link to="/register"
                    ><small>Create new account</small></router-link
                  >
                </div>
                <div class="w-1/2 text-right">
                  <router-link to="/login"
                    ><small>Have an account?</small></router-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>
<script>
import Background from "@/components/Background.vue";
import VerifyCode from "@/components/VerifyCode.vue";

export default {
  name: "LoginPage",
  components: {
    Background,
    VerifyCode,
  },
  methods: {
    search() {
      console.log(this.email, this.username);
      this.openPopup();
    },
    openPopup() {
      this.visble = false;
      this.$refs.popupRef.openPopup();
    },
  },
  data() {
    return {
      visble: true,
      username: "",
      email: "",
    };
  },
};
</script>
