<template>
  <div
    class="absolute top-0 w-full h-full bg-gray-900"
    style="background-size: 100%; background-repeat: no-repeat; z-index: -1"
    :style="{
      backgroundImage: 'url(' + require('@/assets/img/register_bg_2.png') + ')',
    }"
  ></div>
</template>
