<template>
  <div class="relative w-full mb-3">
    <label
      class="block uppercase text-gray-700 text-xs font-bold mb-2"
      :for="name"
      >{{ label }}</label
    >
    <input
      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
      :name="name"
      :id="name"
      :type="type"
      :value="inputValue"
      :placeholder="placeholder"
      style="transition: all 0.15s ease 0s"
      @input="handleChange"
      @blur="handleBlur"
    />

    <p class="help-message text-red2 text-sm pt-2" v-show="errorMessage">
      {{ errorMessage }}
    </p>
  </div>
</template>

<script setup>
import { toRef } from "vue";
import { useField } from "vee-validate";

const props = defineProps({
  type: {
    type: String,
    default: "text",
  },
  value: {
    type: String,
    default: undefined,
  },
  name: {
    type: String,
    required: true,
  },
  label: {
    type: String,
    required: true,
  },
  successMessage: {
    type: String,
    default: "",
  },
  placeholder: {
    type: String,
    default: "",
  },
});

const name = toRef(props, "name");
const {
  value: inputValue,
  errorMessage,
  handleBlur,
  handleChange,
  meta,
} = useField(name, undefined, {
  initialValue: props.value,
});
</script>

<style scoped></style>
