<template>
  <form v-if="isVisible" class="pt-12">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-gray-700 text-xs font-bold mb-2"
        for="grid-password"
        >Verify code</label
      ><input
        type="text"
        class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
        placeholder="Verify code"
        style="transition: all 0.15s ease 0s"
        v-model="verifyCode"
      />
    </div>
    <div class="text-center mt-6">
      <button
        class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
        type="button"
        style="transition: all 0.15s ease 0s"
        @click="resetPassword"
      >
        Reset password
      </button>
    </div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      isVisible: false,
      verifyCode: "",
    };
  },
  methods: {
    openPopup() {
      console.log("openPopup");
      this.isVisible = true;
    },
    closePopup() {
      this.isVisible = false;
    },
    resetPassword() {
      console.log("resetPassword");
    },
  },
};
</script>

<style></style>
